<div class="meals">
  <div class="meals__title">
    <h1>
      <img src="/assets/images/food.svg">
      Your meals
    </h1>
    <a
      class="btn__add"
      [routerLink]="['../meals/new']">
      <img src="/assets/images/add-white.svg">
      New meal
    </a>
  </div>
  <div *ngIf="meals$ | async as meals; else loading;">
    <div class="message" *ngIf="!meals.length">
      <img src="/assets/images/face.svg">
      No meals, add a new meal to start
    </div>

    <app-list-item *ngFor="let meal of meals"
                   [item]="meal"
                   (remove)="removeMeal($event)">
    </app-list-item>
    <!-- meals ngFor -->
  </div>
  <ng-template #loading>
    <div class="message">
      <img src="/assets/images/loading.svg">
      Fetching meals...
    </div>
  </ng-template>
</div>
